<h1>SQLExplorer</h1>
<form action='/make-query' method='POST'>
    <select name="db">
        {{#each dbs}}
            <option>{{this}}</option>
        {{/each}}
    </select>
    <textarea name="query"></textarea>
    <input type="submit" value="Run"></input>
</form>